.mr-auto {
    padding-left: 40px;
}

.nav-item.home-icon {
    padding-top: 4px;
    margin-right: 8px;
}

.user-icon fa {
    margin-right: 4px;
}

.user-icon span {
    padding-bottom: 5px;
}

.nav-item .logout-icon {
    margin-left: 12px;
}