<mdb-navbar SideClass="navbar static-top navbar-expand-lg navbar-light white scrolling-navbar ie-nav" [containerInside]="false">
  <logo>
      <!-- <img src="../assets/logo-eni.png" height="40" class="d-inline-block align-top mr-3" alt=""> -->
      <app-menu></app-menu>
      <a class="logo navbar-brand" href="#"><strong>ENI PLANNING</strong></a>
  </logo>
  
  <links>
      <ul class="navbar-nav mr-auto">        
          <li class="nav-item active waves-light" mdbWavesEffect>
              <a class="nav-link">PLANNING</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Créer</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Purger</a>
          </li>
      </ul>
      
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
          <li class="nav-item">
              <a class="waves-light user-icon" mdbWavesEffect>
                  <fa name="user"></fa>
                  <span class="clearfix d-none d-sm-inline-block">Utilisateur</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="waves-light logout-icon" mdbWavesEffect>
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
              </a>
          </li>
        </ul>
  </links>
</mdb-navbar>