<!-- modal de création d'utilisateur -->
<utilisateurs-header (refreshList)="refreshList($event)" ></utilisateurs-header>

<!-- titre de la page -->
<div class="card">
    <h2>Gestion des utilisateurs</h2>
</div>
<div class="card-body">
<div *ngIf="errorMsg != null" class="alert alert-danger" > {{ errorMsg }} </div>

    <!-- zone de recherche -->
    <div class="md-form">
        <i class="fa fa-search prefix"></i>
        <input type="search" [(ngModel)]="searchValue" id="searchText" class="form-control" mdbInputDirective [mdbValidate]="false">
        <label for="searchText">Saisissez un nom</label>
    </div>      

    <!-- tableau des utilisateurs -->
    <div>
        <div class="table-responsive">
            <table class="table table-responsive-md">

                <!-- entete des colonnes -->
                <thead>
                    <tr>
                        <th>Nom <mdb-icon (click)="sortBy('name')"><i class="fa fa-sort" aria-hidden="true"></i></mdb-icon></th>
                        <th>Prénom <mdb-icon (click)="sortBy('firstname')"><i class="fa fa-sort" aria-hidden="true"></i></mdb-icon></th>
                        <th>Email <mdb-icon (click)="sortBy('email')"><i class="fa fa-sort" aria-hidden="true"></i></mdb-icon></th>
                        <th>Role <mdb-icon (click)="sortBy('role_id')"><i class="fa fa-sort" aria-hidden="true"></i></mdb-icon></th>
                        <th style="width: 10%"  style="text-align: center">Autorisation d'accès    <mdb-icon (click)="sortBy('is_active')"><i class="fa fa-sort" aria-hidden="true"></i></mdb-icon></th>    
                        <th style="width: 10%"></th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>

                <!-- contenu du tableau -->
                <tbody *ngIf="undefined !== users"> 
                    <tr *ngFor="let user of search()" >
                        <td> {{ user.name }} </td> 
                        <td> {{ user.firstname }} </td> 
                        <td> {{ user.email }} </td> 
                        <td [ngSwitch]="user.role_id">
                            <span *ngSwitchCase="1">Utilisateur</span>
                            <span *ngSwitchCase="2">Responsable Pédagogique</span>
                            <span *ngSwitchCase="3">Administrateur</span>
                        </td> 
                        <td *ngIf="user.is_active == '1'" style="text-align: center"><i class="fa fa-user"></i></td>
                        <td *ngIf="user.is_active == '0'" style="text-align: center"><i class="fa fa-lock"></i></td>
                        <!-- Modification du compte utilisateur -->
                        <td> 
                            <app-utilisateur-form *ngIf="user.email != admin" 
                                (closed)="refreshList($event)" action="Modifier"  showPasswordButton="true" [selectedUser]=user>
                            </app-utilisateur-form> 
                        </td>
                        <!-- Activation du compte utilisateur -->
                        <td> 
                            <span *ngIf="user.email != admin">
                                <span *ngIf="user.id != currentUser.id" > 
                                    <a (click)="changeStatus(user, user.is_active)" >
                                        <span *ngIf="user.is_active == '1'" >Désactiver</span>
                                        <span *ngIf="user.is_active == '0'" >Activer</span>
                                    </a>
                                </span>
                            </span> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>