<!-- modal de création d'utilisateur -->
<utilisateurs-header></utilisateurs-header>

<!-- titre de la page -->
<div class="card">
    <h1>Gérer les Utilisateurs de l'application</h1>
</div>

<div class="card">

    <div class="card-body">

        <!-- filtre de la page -->
        <div class="row">   
        <div class="input-group md-form form-sm form-2 pl-0 mb-0">
            <input class="form-control my-0 py-1 grey-border" type="text" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <span class="input-group-text waves-effect grey lighten-3" id="basic-addon1">
                    <a><i class="fa fa-search text-grey" aria-hidden="true"></i></a>
                </span>
            </div>
        </div>
        </div>

    </div>
    
    </div>

    <div class="card-body">

            <div class="row">
                <div class="table-responsive">
                    <div class="table-wrapper-2">
                        <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Role</th>
                                <th>Email</th>
                                <th>Actif</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="undefined !== users"> 
                            <tr *ngFor="let user of users"  [value]="users">
                                <td> {{ user.name }} </td> 
                                <td> {{ user.firstname }} </td> 
                                <td [ngSwitch]="user.role_id">
                                    <span *ngSwitchCase="1">Utilisateur</span>
                                    <span *ngSwitchCase="2">Responsable Pédagogique</span>
                                    <span *ngSwitchCase="3">Administrateur</span>
                                </td> 
                                <td> {{ user.email }} </td> 
                                <td> {{ user.is_active ? 'x' : '' }} </td>
                                <td> 
                                    <a (click) ="edit(user)">Modifier</a> |
                                    <a (click)="changeStatus(user, user.is_active)">
                                        <span *ngIf="user.is_active" >Désactiver</span>
                                        <span *ngIf="!user.is_active" >Activer</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                    </div>