/**** NAVBAR ****/

.navbar-positionning {
    padding-top: 64px;
}

.mr-auto {
    padding-left: 40px;
}

.nav-item.home-icon {
    padding-top: 4px;
    margin-right: 8px;
}

.user-icon fa {
    margin-right: 4px;
}

.user-icon span{
    padding-bottom: 5px;
}

.nav-item .logout-icon {
    margin-left: 12px;
}

.page {
    padding: 5px 5px;
}

/**** LEFT PANEL ****/

.leftpanel {
    padding: 2px 2px;
}

.panel {
    min-width: 260px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16), -2px 0px 3px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 4px;
}

.panel-header button {
    margin : 0;
}

.panel-header .btn {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.content-title {
    font-size: 14px;
    font-weight: 600;
}

.content-body {
    font-size: 13px;
}

.informations, .plannings, .formations-eni, .modules-complementaires {
    padding: 5px;
}

.informations .content-body {
    margin-bottom: 10px;
}

.informations .content-body p {
    margin: 0 0 0 15px;
}

ul {
    padding-left: 15px;
    list-style-type: none;
    list-style-position: outside;
}

.module-list {
    font-size: 14px;
    font-weight: 600;
    padding-left: 0;
}

.cours-list {
    font-size: 13px;
    font-weight: 300;
}

.cours fa, .module fa {
    padding-right: 5px;
}

/**** RIGHT PANEL ****/

.rightpanel {
    padding: 10px 10px 0 10px;
}

.display-heures {
    font-weight: 600;
    padding-top: 10px;
}

.display-range .btn {
    padding: 7px 12px;
}

/* CALENDAR */

table {
    line-height: 16px;
    border-left: 1px solid #333;
}

table td {
    font-size: 13px;
    border: none;
}

th {
    padding: 0;
    border-bottom: 1px solid #333 !important;
}

.table-container {
	top: 15px;
	overflow-x: auto;
    overflow-y: hidden;
    white-space:nowrap;
    margin: 0;
}

.display-month {
	display: inline-block;
	min-width: 100px;
	vertical-align: top;
    height: 100%;
}

.month-label {
	height: 20px;
    padding: 6px 0 6px 0 !important;
    font-weight: normal;
}

td.day-number {
	padding: 0;
	width: 20px;
	/* background-color: #f2f2f2; */
}

td.day-first-letter {
	padding: 0;
	width: 20px;
	/* background-color: #e4e4e4; */
}

.colored {
	background-color: #f2f2f2;
}

.blue-bg {
	background-color: cyan;
}

.cell {
	padding: 0 !important;
}

.cell span {
	padding-left: 1px;
	display: block;
	background-color: #35b233;
	border-bottom: 1px solid #35b233 !important;
	border-top: 1px solid #35b233 !important;
}

.first-day {
	border-bottom: 1px solid #35b233 !important;
}

.first-day span {
	padding-left: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.inner-day {
	border-bottom: 1px solid #35b233 !important;
	border-top: 1px solid #35b233 !important;
}

.inner-day span {
	padding-left: 1px;
}

.last-day {
	border-top: 1px solid #35b233 !important;
}

.last-day span {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* ng-select */
.ng-select.custom {
    border:0px;
    padding: 0;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}