<div class="mt-4 col-8 offset-2">
    <div class="card">
      
        <!-- Material form login -->
        <form #loginForm=ngForm (ngSubmit)="onSubmit()">
          <p class="h4 text-center mb-4">Connexion</p>
          <p class="h6 text-center mb-4">(sollivier@campus-eni.fr / admin)</p>
            
          <div class="alert alert-danger" [hidden]="!error">{{error}}</div>
          <!-- Material input email -->
          <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <!--label for="loginEmail">Email</label-->
              <input type="email" name="email" id="loginEmail" class="form-control" 
                  [(ngModel)]="form.email" required>
          </div>
  
          <!-- Material input password -->
          <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <!-- label for="loginPassword">Mot de Passe</label-->
              <input type="password" name="password" id="loginPassword" class="form-control" 
                  [(ngModel)]="form.password" required>
          </div>
  
          <div class="text-center mt-4">
              <button class="btn btn-indigo" type="submit" [disabled]="!loginForm.valid">Login</button>
  
          </div>
        </form>
        <!-- Default form login -->
  
  
  
    </div>
  </div>
  