<planning-header></planning-header>

<div class="container-fluid">
    <div class="row page">
		<div class="leftpanel col-12 col-lg-3">
            <planning-left-panel></planning-left-panel>
		</div>

		<div class="rightpanel col-12 col-lg-9">
			<planning-right-panel></planning-right-panel>

			<div class="col-11 col-lg-12 planning-tabs">
                <!-- Alerts tab -->
                <app-alert-panel></app-alert-panel>
          		<!-- Paramètres tab -->
          		<!-- Contraintes tab -->
        	</div>
		</div>
	</div>
</div>
